.paste-list-item {
  margin-bottom: 1em;
}

.paste-list-description {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

.delete-button {
  background-color: #ce3939;
  color: white;
}

.delete-button:hover {
  background-color: #e04c4c;
  color: white;
}
